/* src/index.css */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

:root {
  --primary-color: #8B2C2C; /* Cor principal (vermelho escuro) */
  --secondary-color: #A94444; /* Variação da cor principal */
  --accent-color: #D3D3D3; /* Cor de destaque (cinza claro) */
  --text-dark: #333;
  --text-light: #f4f4f4;
  --bg-dark: #1a1a1a;
  --bg-light: #f0f2f5;
  --border-color: #ccc;
  --shadow-light: 0 2px 4px rgba(0, 0, 0, 0.1);
  --shadow-dark: 0 4px 8px rgba(0, 0, 0, 0.2);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body, #root {
  height: 100%;
  font-family: 'Roboto', sans-serif;
  color: var(--text-dark);
  background-color: var(--bg-light);
}

button {
  cursor: pointer;
  border: none;
  font-family: inherit;
}

input {
  font-family: inherit;
  border: 1px solid var(--border-color);
  padding: 10px 15px;
  border-radius: 4px;
  outline: none;
  transition: border-color 0.3s ease;
}

input:focus {
  border-color: var(--primary-color);
}